# Python cache/compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/
env/
env.bak/
ENV/

# Dotenv files
.env
.env.*
*.env

# IDE/editor configs
.vscode/
.idea/

# Misc
*.log
